.container{
    padding: 10px 20px;
    background: rgba(234, 42, 178, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(234, 42, 178, 0.3);
    overflow: hidden;
}